@charset "UTF-8";
body {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.hlavicka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*mixin*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5%;
}

/***************animace loga*************************/
svg {
  cursor: pointer;
}

#hlavicka_logo:hover {
  -webkit-animation: squeeze .2s ease forwards;
          animation: squeeze .2s ease forwards;
}

#logo-circle {
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes squeeze {
  to {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes squeeze {
  to {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

.paticka__logo {
  display: none;
}

.hlavicka-main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  text-align: center;
}

.hlavicka-main__motto {
  font-family: "BioRhyme", serif;
  font-size: 50px;
  margin: 10px;
}

.hlavicka-main__motto--barva {
  color: #e2932b;
}

.hlavicka-main__jmeno {
  font-size: 20px;
}

.uvod {
  width: 100%;
}

.uvod__pozadi {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("images/hv_web.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/hv_web.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#sun {
  width: 150px;
  height: 100px;
  position: absolute;
  left: 70%;
  top: 2%;
}

#sun-ellipse {
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

:hover #sun-ellipse {
  stroke-width: 2;
  stroke-dasharray: 8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  fill: yellow;
}

.sun-face {
  -webkit-transition: all ease 2s;
  transition: all ease 2s;
}

:hover .sun-face {
  stroke: blue;
}

.sun-paprsek {
  -webkit-transition: all ease 4s;
  transition: all ease 4s;
}

:hover .sun-paprsek {
  stroke: yellow;
  stroke-width: 5;
}

.uvod__text {
  padding: 7%;
  margin: 0;
}

.uvod__text--nadpis {
  color: #ffffff;
}

.uvod__text--barva {
  color: #e2932b;
  text-shadow: 1px 1px 1px black;
}

.uvod__text--text {
  color: #ffffff;
}

.neco-o-mne {
  width: 100%;
  text-align: center;
}

.neco-o-mne__nadpis {
  text-align: left;
  padding: 0 2% 0 7%;
}

.neco-o-mne__nadpis--barva {
  color: #e2932b;
}

.neco-o-mne__foto {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
}

.neco-o-mne__text {
  text-align: left;
  padding: 0 2% 0 7%;
}

.kontakt {
  width: 100%;
  height: auto;
  background-color: #000000;
  padding: 5px 0 30px 0;
}

.kontakt__nadpis {
  color: #e2932b;
  padding: 0 2% 0 7%;
  text-align: left;
}

.svg-icon {
  stroke: white;
  width: 30px;
}

.kontakt-nadpisicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kontakt__udaje {
  padding: 0 2% 0 7%;
  color: #ffffff;
  line-height: 2;
}

.kontakt__udaje--barva {
  color: #e2932b;
}

.kontakt__udaje--pismo {
  text-transform: uppercase;
}

.blog {
  width: 100%;
  text-align: center;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*mixin*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog a {
  text-decoration: none;
  padding: 1rem;
  /*zanoření*/
}

.blog a:hover {
  color: #e2932b;
}

.blog__nadpis {
  padding: 0 2% 0 7%;
  text-align: left;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  /*zanoření BEM*/
}

.blog__nadpis--barva {
  color: #e2932b;
}

.clanek-jedna {
  text-align: center;
  max-width: 400px;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(images/blog1.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/blog1.jpg);
  margin: 10px 0;
}

.clanek-dva {
  text-align: center;
  max-width: 400px;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(images/blog2.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/blog2.jpg);
  margin: 0 0 10px 0;
}

.blog__titulek--velky {
  font-size: 30px;
  font-weight: 400;
}

.blog__titulek--bily {
  color: #ffffff;
}

.paticka {
  width: 100%;
  background-color: #e2932b;
  text-align: center;
}

.paticka-jmeno {
  font-size: 20px;
  font-family: "BioRhyme", serif;
  color: #ffffff;
  padding: 20px 0;
}

.paticka-jmeno--barva {
  color: #000000;
}

.paticka__identifikace {
  color: #ffffff;
  padding: 0 0 15px 0;
}

@media screen and (min-width: 600px) {
  .neco-o-mne {
    text-align: left;
    min-height: 15rem;
  }
  .neco-o-mne__foto {
    width: auto;
    max-height: 9rem;
    margin: 0 1rem 1rem 4rem;
    float: left;
  }
  .blog {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 10px;
  }
  .clanek-jedna {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  .clanek-dva {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    margin: 10px 0;
  }
}

@media screen and (min-width: 900px) {
  .hlavicka {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #hlavicka__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 300px;
  }
  .hlavicka-main {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .uvod__text {
    position: relative;
    left: 45%;
    width: 40%;
  }
  #sun {
    width: 150px;
    height: 100px;
    position: absolute;
    left: 85%;
    top: 5%;
  }
  .kontakt__udaje {
    text-align: right;
  }
  .blog {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 4rem 1rem 4rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: auto;
  }
  .blog__nadpis {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
  }
  .clanek-jedna {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
  }
  .clanek-dva {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
  }
  .paticka {
    width: auto;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logojmeno {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*mixin*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 7%;
  }
  .paticka__identifikace {
    padding: 0;
    margin-right: 7%;
  }
  .paticka__logo {
    display: block;
    max-width: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 1fr;
        grid-template-columns: 30% 1fr;
    -ms-grid-rows: auto 300px 300px 150px 100px;
        grid-template-rows: auto 300px 300px 150px 100px;
    /* mixin s argumenty*/
        grid-template-areas: "uvod uvod" "hlavicka omne" "hlavicka blog" "kontakt kontakt" "paticka paticka";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .uvod {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: uvod;
  }
  .hlavicka {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: hlavicka;
  }
  .neco-o-mne {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: omne;
  }
  .kontakt {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: kontakt;
  }
  .blog {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: blog;
  }
  .paticka {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: paticka;
  }
  .hlavicka {
    display: block;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 50px 0;
    margin: 0;
    border-right: 1px solid #e2932b;
    -webkit-box-shadow: 10px 2px 10px #f0efed;
            box-shadow: 10px 2px 10px #f0efed;
  }
  .neco-o-mne {
    width: auto;
  }
  .kontakt {
    width: auto;
    padding: 0;
  }
  .kontakt__udaje {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 4rem 2rem 4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog__nadpis {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .clanek-jedna {
    margin: 0 10px 0 0;
    height: 150px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .clanek-dva {
    margin: 0 10px;
    height: 150px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    -ms-grid-columns: 35% 1fr;
        grid-template-columns: 35% 1fr;
    -ms-grid-rows: (minmax(100px, auto))[5];
        grid-template-rows: repeat(5, minmax(100px, auto));
    /*mixin s argumenty*/
        grid-template-areas: "hlavicka uvod" "hlavicka omne" "hlavicka blog" "kontakt kontakt" "paticka paticka";
  }
  .hlavicka-main__motto {
    font-size: 100px;
    margin: 60px 10px 0 10px;
  }
  #hlavicka__logo {
    width: 500px;
  }
  .neco-o-mne {
    margin-top: 30px;
  }
  .neco-o-mne__foto {
    max-height: 15rem;
    margin-right: 7%;
  }
  h2 {
    font-size: 30px;
  }
  .kontakt__udaje {
    font-size: 20px;
  }
  .blog {
    margin-bottom: 30px;
  }
  .paticka {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */